<style>
    @font-face {
        font-family: "Custom Font";
        src: url('./../assets/font/Custom-Font.ttf');
    }

    .buttons-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        width: 400px;
    }

    .button {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .gray{
        background-color: gray;
    }
    .orange{
        background-color: orange;
    }

    .pantalla {
        width: 300px;
        height: 80px;
        border: 1px solid black;
        border-radius: 5px;
        text-align: right;
        padding: 10px;
        font-size: 1.5em;
        margin-bottom: 10px;
        align-items: center;
    }
</style>

<div class="calculator">
    <div class="pantalla" id="pantalla">0</div>
    <div class="buttons-container">
        <div class="button orange" onclick="clearScreen()">AC</div>
        <div class="button orange" onclick="appendToScreen('(')">(</div>
        <div class="button orange" onclick="appendToScreen(')')">)</div>
        <div class="button orange" onclick="appendToScreen('/')">/</div>

        <div class="button gray" onclick="appendToScreen('7')">7</div>
        <div class="button gray" onclick="appendToScreen('8')">8</div>
        <div class="button gray" onclick="appendToScreen('9')">9</div>
        <div class="button orange" onclick="appendToScreen('*')">x</div>

        <div class="button gray" onclick="appendToScreen('4')">4</div>
        <div class="button gray" onclick="appendToScreen('5')">5</div>
        <div class="button gray" onclick="appendToScreen('6')">6</div>
        <div class="button orange" onclick="appendToScreen('-')">-</div>

        <div class="button gray" onclick="appendToScreen('1')">1</div>
        <div class="button gray" onclick="appendToScreen('2')">2</div>
        <div class="button gray" onclick="appendToScreen('3')">3</div>
        <div class="button orange" onclick="appendToScreen('+')">+</div>

        <div class="button gray zero" onclick="appendToScreen('0')">0</div>
        <div class="button gray" onclick="appendToScreen('.')">.</div>
        <div class="button orange" onclick="calculate()">=</div>
    </div>
</div>

<script>
    let pantalla = document.getElementById('pantalla');
    let currentInput = '';
    let shouldReset = false; // Variable para determinar si se debe restablecer la pantalla
    let operacionRealizada = false; // Variable para controlar si la operación se ha realizado

    function sendOperationToServer(operationData) {
        fetch('/agregar-operacion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(operationData), // Enviar la operación y el resultado
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
    }

    function appendToScreen(value) {
        if (shouldReset) {
            shouldReset = false;
            if (!isNaN(Number(value))) {
                currentInput = ''; // Borra el resultado previo si se ingresa un número
            }
        }
        currentInput += value;
        pantalla.innerText = currentInput;
        operacionRealizada = false; // Restablecer la bandera de operación realizada
    }

    function clearScreen() {
        currentInput = '';
        pantalla.innerText = '0';
        operacionRealizada = false; 
    }

    function calculate() {
        try {
            if (!operacionRealizada) {
                let operacion = currentInput; // Guardar la operación antes de evaluarla
                let result = eval(currentInput);
                if (!isNaN(result)) {
                    currentInput = result.toString();
                    pantalla.innerText = currentInput;
                    shouldReset = true;
                    sendOperationToServer({ operacion: operacion, resultado: result }); // Enviar la operación y el resultado al servidor
                } else {
                    pantalla.innerText = 'Error';
                }
                operacionRealizada = true; // Marcar que la operación se ha realizado
            }
        } catch (error) {
            currentInput = '';
            pantalla.innerText = 'Error';
        }
    }
</script>
