<div class="calculadora">
    <div class="pantalla">
        <span data-operacion-anterior></span>
        <input data-operacion-actual class="input-pantalla" type="" name="">
    </div>
    <div class="botones">
        <button data-clear class="tecla">AC</button>
        <button data-numero class="tecla">(</button>
        <button data-numero class="tecla">)</button>
        <button data-operacion class="ColorNaranja tecla">รท</button>
        <button data-numero class="ColorGris tecla">7</button>
        <button data-numero class="ColorGris tecla">8</button>
        <button data-numero class="ColorGris tecla">9</button>
        <button data-operacion class="ColorNaranja tecla">x</button>
        <button data-numero class="ColorGris tecla">4</button>
        <button data-numero class="ColorGris tecla">5</button>
        <button data-numero class="ColorGris tecla">6</button>
        <button data-operacion class="ColorNaranja tecla">-</button>
        <button data-numero class="ColorGris tecla">1</button>
        <button data-numero class="ColorGris tecla">2</button>
        <button data-numero class="ColorGris tecla">3</button>
        <button data-operacion class="ColorNaranja tecla">+</button>
        <button data-numero class="ColorGris tecla" id="cero">0</button>
        <button data-numero class="ColorGris tecla" id="punto">.</button>
        <button data-igual class="ColorNaranja tecla" id="igual">=</button>
    </div>
</div>

<script>

    class Calculadora {
        constructor(operacionAnteriorElemento, operacionActualElemento) {
            this.operacionAnteriorElemento = operacionAnteriorElemento
            this.operacionActualElemento = operacionActualElemento
            this.limpiar()
        }

        limpiar() {
            this.operacionActual = ''
            this.operacionAnterior = ''
            this.operacion = undefined
        }

        // borrarCaracter() {
        //     this.operacionActual = this.operacionActual.toString().slice(0, -1)
        // }

        agregarNumero(n) {
            if (n === '.' && this.operacionActual.includes('.')) return
            this.operacionActual = this.operacionActual.toString() + n.toString()
        }

        elegirOperacion(operacion) {
            if (this.operacionActual === '') return
            if (this.operacionAnterior !== '') {
                this.calcular()
            }
            this.operacion = operacion
            this.operacionAnterior = this.operacionActual
            this.operacionActual = ''
        }

        calcular() {
            let cuenta
            const anterior = parseFloat(this.operacionAnterior)
            const actual = parseFloat(this.operacionActual)
            if (isNaN(anterior) || isNaN(actual)) {
                console.log("ISNAN")
                return
            }

            switch (this.operacion) {
                case '+':
                    cuenta = anterior + actual
                    break
                case '-':
                    cuenta = anterior - actual
                    break
                case 'x':
                    cuenta = anterior * actual
                    break
                case 'รท':
                    cuenta = anterior / actual
                    break
                default:
                    return
            }

            console.log(cuenta)
            this.operacionActual = cuenta
            this.operacion = undefined
            this.operacionAnterior = ''
        }


        // Funcion que formatea el numero ingresado. Limita el ingreso de ceros antes de un punto decimal, agrega comas.
        getDisplayNumber(number) {
            const stringNumber = number.toString()
            // console.log(stringNumber[-1])
            const integerDigits = parseFloat(stringNumber.split('.')[0])
            const decimalDigits = stringNumber.split('.')[1]
            let integerDisplay

            if (stringNumber.slice(-1) == '(' || stringNumber.slice(-1) == ')') {
                console.log(stringNumber)
                return stringNumber
            }

            if (isNaN(integerDigits)) {
                integerDisplay = ''
            } else {
                integerDisplay = integerDigits.toLocaleString('en', { maximumFractionDigits: 0 })
            }
            if (decimalDigits != null) {
                return `${integerDisplay}.${decimalDigits}`
            } else {
                return integerDisplay
            }
        }

        actualizarPantalla() {
            this.operacionActualElemento.value =
                this.getDisplayNumber(this.operacionActual)
            if (this.operacion != null) {
                this.operacionAnteriorElemento.innerText =
                    `${this.getDisplayNumber(this.operacionAnterior)} ${this.operacion}`
            } else {
                this.operacionAnteriorElemento.innerText = ''
            }
        }
    }


    const numeros = document.querySelectorAll('[data-numero]')
    const operaciones = document.querySelectorAll('[data-operacion]')
    const igual = document.querySelector('[data-igual]')
    // const borrar = document.querySelector('[data-borrar]')
    const clear = document.querySelector('[data-clear]')
    const operacionAnteriorElemento = document.querySelector('[data-operacion-anterior]')
    const operacionActualElemento = document.querySelector('[data-operacion-actual]')

    const calculadora = new Calculadora(operacionAnteriorElemento, operacionActualElemento)

    numeros.forEach(boton => {
        boton.addEventListener('click', () => {
            calculadora.agregarNumero(boton.innerText)
            calculadora.actualizarPantalla()
        })
    })

    operaciones.forEach(boton => {
        boton.addEventListener('click', () => {
            calculadora.elegirOperacion(boton.innerText)
            calculadora.actualizarPantalla()
        })
    })

    igual.addEventListener('click', boton => {
        calculadora.calcular()
        calculadora.actualizarPantalla()
    })

    clear.addEventListener('click', boton => {
        calculadora.limpiar()
        calculadora.actualizarPantalla()
    })

    // borrar.addEventListener('click', boton => {
    //     calculadora.borrarCaracter()
    //     calculadora.actualizarPantalla()
    // })

</script>