<style>
    *{
        background-color: black; 
    }

    @font-face {
        font-family: "Open 24 Display St";
        src: url('./../assets/font/Open-24-Display-St.ttf');
    }

    .botones {
        display: block;
        width: 100vw;
        padding-left: 38vw;
    }

    .pantalla {
        width: 55vw;
        border: 0;
        background-color: black;
        color: white;
        font-size: 15vh;
        text-align: right;
        overflow: hidden;
        margin-left: 38vw;
    }

    div {
        display: flex;
    }

    button {
        width: 14vh;
        height: 14vh;
        border-radius: 100%;
        font-size: 5vh;
        margin: 0.3%;
        border: 0;
    }

    .cero {
        width: 30vh;
        border-radius: 50vh;
        text-align: left;
        padding-left: 35px;
        padding-right: 100px;

    }

    .pantalla-calculadora {
        background-color: rgb(35, 35, 35);
    }

    .calculadora {
        font-family: 'Open 24 Display St';
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    /* .pantalla {
        text-align: right;
        width: 60vh;
        overflow: hidden;
        margin-left: 38vw;
    } */

    .ColorGris {
        background-color: rgb(195, 187, 187);
    }

    .ColorGris2 {
        background-color: rgb(58, 58, 58);
        color: aliceblue;
    }

    .ColorNaranja {
        background-color: rgb(255, 128, 0);
        color: aliceblue;
    }
    
</style>


<div class="calculadora">
    <div class="pantalla">
        <div class="result" id="result">0</div>
        <div class="pantalla-botones">
            <!-- <button id="borrar" onclick="borrar2()">X</button> -->
        </div>

    </div>
    <div class="containerbtn">
        <div class="botones">


            <div class="botones-fx">
                <button class="ColorGris" onclick="borrar()">AC</button>
                <button class="ColorGris" onclick="">(</button>
                <button class="ColorGris" onclick="">)</button>
                <button class="ColorNaranja" onclick="dividir()">/</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2" onclick="num(7)">7</button>
                <button class="ColorGris2" onclick="num(8)">8</button>
                <button class="ColorGris2" onclick="num(9)">9</button>
                <button class="ColorNaranja" onclick="product()">x</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2" onclick="num(4)">4</button>
                <button class="ColorGris2" onclick="num(5)">5</button>
                <button class="ColorGris2" onclick="num(6)">6</button>
                <button class="ColorNaranja" onclick="rest()">-</button>
            </div>
            <div class="botones-num">
                <button class="ColorGris2" onclick="num(1)">1</button>
                <button class="ColorGris2" onclick="num(2)">2</button>
                <button class="ColorGris2" onclick="num(3)">3</button>
                <button class="ColorNaranja" onclick="suma()">+</button>
            </div>
            <div class="botones-num">
                <button class="ColorGris2 cero" onclick="num(0)">0</button>
                <button class="ColorGris2 punto" onclick="coma()">.</button>
                <button class="ColorNaranja" class="igual" onclick="resultado()">=</button>
            </div>
        </div>
    </div>
</div>

<script>
    let resultElement = document.getElementById("result");
    let currentResult = "";

    function appendToResult(value) {
      currentResult += value;
      resultElement.textContent = currentResult;
    }

    function clearResult() {
      currentResult = "";
      resultElement.textContent = "0";
    }

    function calculateResult() {
      try {
        currentResult = eval(currentResult);
        resultElement.textContent = currentResult;
      } catch (error) {
        resultElement.textContent = "Error";
      }
    }
</script>