<style>
    *{
        background-color: black; 
        font-family: 'Sometype Mono', monospace;
        font-family: 'Ubuntu', sans-serif;
    }

    @import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&family=Ubuntu:wght@300&display=swap');
    
    .atra{
        display: flex;
        justify-content: end; 
        width: 33vw;       
    }

    .botones {
        display: grid;
        width: 100%;
        padding-left: 34vw;
    }

    .pantalla {
        width: 100%;
        border: 0;
        background-color: black;
        color: white;
        font-size: 12vh;
        align-content: right;
        overflow: hidden;
        height: 14vh;
        place-self: center;
    }

    .valor-actual{
    float: right;
    }

    button {
        width: 14vh;
        height: 14vh;
        border-radius: 100%;
        font-size: 5vh;
        margin: 0.3%;
        border: 0;
    }

    .cero {
        width: 30vh;
        border-radius: 50vh;
        text-align: left;
        padding-left: 35px;
        padding-right: 100px;

    }

    .pantalla-calculadora {
        background-color: rgb(35, 35, 35);
    }

    .result{
        overflow: hidden;
    }

    .calculadora {
        font-family: 'Open 24 Display St';
        display: block;
        flex-direction: column;
        width: fit-content;
    }

    .ColorGris {
        background-color: rgb(195, 187, 187);
    }

    .ColorGris2 {
        background-color: rgb(58, 58, 58);
        color: aliceblue;
    }

    .ColorNaranja {
        background-color: rgb(255, 128, 0);
        color: aliceblue;
    }

    .muestre{
        display: flex;
        width: 40%;
        justify-content: flex-end;
    }
    
    .historial-content{
        font-size: 5vh;
        font-family: 'Roboto';
        text-align: end;
    }

    .ColorGris2:active {
        background-color: rgb(99, 99, 99);
    }

    .ColorNaranja:active{
        background-color: rgb(199, 198, 198);
    }

    .ColorGris:active{
        background-color: rgb(235, 234, 234);
    }

    @media screen and (max-width: 992px){
        button{
            width: 10vh;
            height: 10vh;
            font-size: 4vh;
        }

        .cero{
            width: 20vh;
        }

        .input{
            font-size: 13vh;
            padding-bottom: 10%;
            padding-top: 10%;
        }
    
        .pantalla{
            width: 100%;
            margin-left: 10vh; 
            font-size: 10vh;
            overflow: hidden;
        }
    }
    
    
    
    @media screen and (max-width: 992px){

        .muestre{
        display: none;
    }
    
    .historial-content{
        display: none;
    }

    }
    
</style>


<div class="calculadora">
    <div class="pantalla">
        <div class="valor-actual">0</div>
        <div class="atra">
            <button class="ColorGris btn" id="borrar">←</button>
        </div>
    </div>

    <div class="containerbtn">
        
                    
        <div class="botones">

            <div class="botones-fx">
                <button class="ColorGris btn" id="AC">AC</button>
                <button class="ColorGris btn">(</button>
                <button class="ColorGris btn">)</button>
                <button class="ColorNaranja btn">/</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2 btn">7</button>
                <button class="ColorGris2 btn">8</button>
                <button class="ColorGris2 btn">9</button>
                <button class="ColorNaranja btn" id="X">*</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2 btn">4</button>
                <button class="ColorGris2 btn">5</button>
                <button class="ColorGris2 btn">6</button>
                <button class="ColorNaranja btn">-</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2 btn">1</button>
                <button class="ColorGris2 btn">2</button>
                <button class="ColorGris2 btn">3</button>
                <button class="ColorNaranja btn">+</button>
            </div>
            
            <div class="botones-num">
                <button class="ColorGris2 cero btn">0</button>
                <button class="ColorGris2 btn">.</button>
                <button class="ColorNaranja btn" id="igual">=</button>
            </div>

        </div>
    </div>
</div>

<script>
    const pantalla = document.querySelector(".valor-actual");
    const botones = document.querySelectorAll(".btn");

    botones.forEach(boton => {
    boton.addEventListener("click", () => {
        const botonApretado = boton.textContent;

        if (boton.id === "borrar") {
            if (pantalla.textContent.length === 1 || pantalla.textContent === "Error!") {
                pantalla.textContent = "0";
            } else {
                pantalla.textContent = pantalla.textContent.slice(0, -1);
            }
            return;
        }
        
        if (boton.id === "Hist"){
            pantalla.textContent = pantalla.textContent.slice(0, -1);
            pantalla.textContent = "0";
            return;
        }

        if (boton.id === "AC") {
            pantalla.textContent = "0";
            return;
        }

        if (boton.id === "igual") {
            try {
                let operacion = pantalla.textContent; 
                let resultado = eval(pantalla.textContent);
                pantalla.textContent = resultado;
                let operationData = { operacion: operacion, resultado: resultado};
                guardarHistorial(operationData);
            } catch {
                pantalla.textContent = "Error!";
            }
            return;
        }

        if (pantalla.textContent === "0" || pantalla.textContent === "Error!") {
            pantalla.textContent = botonApretado;
        } else {
            pantalla.textContent += botonApretado;
        }
    })
})

function guardarHistorial(operationData) {
        fetch('/operacion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(operationData), // Enviar la operación y el resultado
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
    }

</script>

