<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: white;
        font-weight:bolder;
    }

    .calculadora {
        max-width: 400px;
        height: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: black;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .pantalla {
        background-color: #0000;
        color: white;
        border-radius: 5px;
        padding: 40px;
        text-align: right;
        font-size: 32px;
        margin-bottom: 10px;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        border-radius: 100%;
        width: 90px;
        height: 90px;
        font-size: 20px;
        cursor: pointer;
    }

    .button:hover {
        background-color: #ddd;
    }

    .gray {
        background-color: rgb(51, 51, 51) !important;
        color: white !important;
    }

    .lightgray {
        background-color: rgb(134, 134, 134) !important;
        color: white !important;
    }

    .blue {
        background-color: rgb(38, 40, 80) !important;
        color: white !important;
    }

    .zero {
        width: 100%;
        border-radius: 10vh;
        grid-column: span 2;
        justify-content: center;

    }
    
</style>

<div class="calculadora">
    <div class="pantalla" id="pantalla">0</div>
    <div class="buttons">
        <div class="button lightgray" onclick="LimpiarPantalla()">AC</div>
        <div class="button lightgray" onclick="appendToScreen('(')">(</div>
        <div class="button lightgray" onclick="appendToScreen(')')">)</div>
        <div class="button blue" onclick="appendToScreen('/')">/</div>

        <div class="button gray" onclick="appendToScreen('7')">7</div>
        <div class="button gray" onclick="appendToScreen('8')">8</div>
        <div class="button gray" onclick="appendToScreen('9')">9</div>
        <div class="button blue" onclick="appendToScreen('*')">x</div>

        <div class="button gray" onclick="appendToScreen('4')">4</div>
        <div class="button gray" onclick="appendToScreen('5')">5</div>
        <div class="button gray" onclick="appendToScreen('6')">6</div>
        <div class="button blue" onclick="appendToScreen('-')">-</div>

        <div class="button gray" onclick="appendToScreen('1')">1</div>
        <div class="button gray" onclick="appendToScreen('2')">2</div>
        <div class="button gray" onclick="appendToScreen('3')">3</div>
        <div class="button blue" onclick="appendToScreen('+')">+</div>

        <div class="button gray zero" onclick="appendToScreen('0')">0</div>
        <div class="button gray punto" onclick="appendToScreen('.')">.</div>
        <div class="button blue" onclick="calcular()">=</div>
    </div>
</div>

<script>
    let pantalla = document.getElementById('pantalla');
    let currentInput = '';
    let shouldReset = false; // Variable para determinar si se debe restablecer la pantalla
    let operacionRealizada = false; // Variable para controlar si la operación se ha realizado

    function sendOperationToServer(operationData) {
        fetch('/agregar-operacion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(operationData), // Enviar la operación y el resultado
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
    }

    function appendToScreen(value) {
        if (shouldReset) {
            shouldReset = false;
            if (!isNaN(Number(value))) {
                currentInput = ''; // Borra el resultado previo si se ingresa un número
            }
        }
        currentInput += value;
        pantalla.innerText = currentInput;
        operacionRealizada = false; // Restablecer la bandera de operación realizada
    }

    function LimpiarPantalla() {
        currentInput = '';
        pantalla.innerText = '0';
        operacionRealizada = false; 
    }

    function calcular() {
        try {
            if (!operacionRealizada) {
                let operacion = currentInput; // Guardar la operación antes de evaluarla
                let result = eval(currentInput);
                if (!isNaN(result)) {
                    currentInput = result.toString();
                    pantalla.innerText = currentInput;
                    shouldReset = true;
                    sendOperationToServer({ operacion: operacion, resultado: result }); // Enviar la operación y el resultado al servidor
                } else {
                    pantalla.innerText = 'Error';
                }
                operacionRealizada = true; // Marcar que la operación se ha realizado
            }
        } catch (error) {
            currentInput = '';
            pantalla.innerText = 'Error';
        }
    }
</script>
