<div class="calculadora">
    <div class="historial-container">
        <div class="close-history-logo-container">
            <img class="close-history-logo" src="xmark-solid.svg" alt="Icono cerrar historial">
        </div>
        <div class="operaciones">
        </div>
    </div>
    <div class="pantalla">
        <div class="history-logo-container">
            <img class="history-logo" src="clock-rotate-left-solid.svg" alt="Icono historial">
        </div>
        <input data-operacion-actual class="input-pantalla" autocomplete="off" type="text" name="" readonly>
        <div data-operacion-temporal></div>
    </div>
    <div class="botones">
        <button data-clear class="tecla gris-claro">AC</button>
        <button data-numero class="tecla gris-claro">(</button>
        <button data-numero class="tecla gris-claro">)</button>
        <button data-operacion class="tecla naranja">/</button>
        <button data-numero class="tecla gris-oscuro">7</button>
        <button data-numero class="tecla gris-oscuro">8</button>
        <button data-numero class="tecla gris-oscuro">9</button>
        <button data-operacion class="tecla naranja">*</button>
        <button data-numero class="tecla gris-oscuro">4</button>
        <button data-numero class="tecla gris-oscuro">5</button>
        <button data-numero class="tecla gris-oscuro">6</button>
        <button data-operacion class="tecla naranja">-</button>
        <button data-numero class="tecla gris-oscuro">1</button>
        <button data-numero class="tecla gris-oscuro">2</button>
        <button data-numero class="tecla gris-oscuro">3</button>
        <button data-operacion class="tecla naranja">+</button>
        <button data-numero class="tecla gris-oscuro" id="cero">0</button>
        <button data-numero class="tecla gris-oscuro" id="punto">.</button>
        <button data-igual class="tecla naranja" id="igual">=</button>
    </div>
</div>

<script src="main.js"></script>