<style>
    *{
        background-color: black; 
    }

    @font-face {
        font-family: 'Open 24 Display St';
        src: url('./../assets/font/Open-24-Display-St.ttf');
    }

    .botones {
        display: block;
        width: 100%;
        padding-left: 34vw;
    }

    .pantalla {
        width: 55vw;
        border: 0;
        background-color: black;
        color: white;
        font-size: 12vh;
        text-align: right;
        overflow: hidden;
        margin-left: 8vw;
        height: 25vh;
    }

    button {
        width: 14vh;
        height: 14vh;
        border-radius: 100%;
        font-size: 5vh;
        margin: 0.3%;
        border: 0;
    }

    .cero {
        width: 30vh;
        border-radius: 50vh;
        text-align: left;
        padding-left: 35px;
        padding-right: 100px;

    }

    .pantalla-calculadora {
        background-color: rgb(35, 35, 35);
    }

    .calculadora {
        font-family: 'Open 24 Display St';
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    /* .pantalla {
        text-align: right;
        width: 60vh;
        overflow: hidden;
        margin-left: 38vw;
    } */

    .ColorGris {
        background-color: rgb(195, 187, 187);
    }

    .ColorGris2 {
        background-color: rgb(58, 58, 58);
        color: aliceblue;
    }

    .ColorNaranja {
        background-color: rgb(255, 128, 0);
        color: aliceblue;
    }
    
</style>


<div class="calculadora">
    <div class="pantalla">
        <div class="result" id="result">
        <div class="valor-anterior">321</div>
        <div class="valor-actual">0</div>
        </div>
    </div>
    <div class="containerbtn">
        <div class="botones">


            <div class="botones-fx">
                <button class="ColorGris">AC</button>
                <button class="ColorGris">(</button>
                <button class="ColorGris">)</button>
                <button class="ColorNaranja operador">/</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2 numero">7</button>
                <button class="ColorGris2 numero">8</button>
                <button class="ColorGris2 numero">9</button>
                <button class="ColorNaranja operador">x</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2 numero">4</button>
                <button class="ColorGris2 numero">5</button>
                <button class="ColorGris2 numero">6</button>
                <button class="ColorNaranja operador">-</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2 numero">1</button>
                <button class="ColorGris2 numero">2</button>
                <button class="ColorGris2 numero">3</button>
                <button class="ColorNaranja operador">+</button>
            </div>
            
            <div class="botones-num">
                <button class="ColorGris2 cero numero">0</button>
                <button class="ColorGris2 numero">.</button>
                <button class="ColorNaranja operador">=</button>
            </div>

        </div>
    </div>
</div>

<script>

    const displayValorAnterior = document.getElementById('valor-anterior');
    const displayValorActual = document.getElementById('valor-actual');
    const botonesNumeros = document.querySelectorAll ('.numero');
    const botonesOperadores = document.querySelectorAll ('.operador');

    class Calculadora{
        sumar(num1, num2) {
            return num1 + num2;
        }

        restar(num1, num2) {
            return num1 - num2;
        }

        dividir(num1, num2) {
            return num1 / num2;
        }

        multiplicar(num1, num2) {
            return num1 * num2;
        }
    }

    const calculadora = new Calculadora();

</script>

<!-- Video a ver para calculadora https://www.youtube.com/watch?v=7YDagj3cVAk -->