<style>
    *{
        background-color: black; 
    }

    @font-face {
        font-family: 'Open 24 Display St';
        src: url('./../assets/font/Open-24-Display-St.ttf');
    }

    .botones {
        display: grid;
        width: 100%;
        padding-left: 34vw;
    }

    .pantalla {
        width: 40vw;
        border: 0;
        background-color: black;
        color: white;
        font-size: 12vh;
        text-align: right;
        overflow: hidden;
        margin-left: 30vw;
        height: 14vh;
    }

    button {
        width: 14vh;
        height: 14vh;
        border-radius: 100%;
        font-size: 5vh;
        margin: 0.3%;
        border: 0;
    }

    .cero {
        width: 30vh;
        border-radius: 50vh;
        text-align: left;
        padding-left: 35px;
        padding-right: 100px;

    }

    .pantalla-calculadora {
        background-color: rgb(35, 35, 35);
    }

    .result{
        overflow: hidden;
    }

    .calculadora {
        font-family: 'Open 24 Display St';
        display: block;
        flex-direction: column;
        width: fit-content;
    }

    /* .pantalla {
        text-align: right;
        width: 60vh;
        overflow: hidden;
        margin-left: 38vw;
    } */

    .ColorGris {
        background-color: rgb(195, 187, 187);
    }

    .ColorGris2 {
        background-color: rgb(58, 58, 58);
        color: aliceblue;
    }

    .ColorNaranja {
        background-color: rgb(255, 128, 0);
        color: aliceblue;
    }
    
</style>


<div class="calculadora">
    <div class="pantalla">
        <div class="result" id="result">
        <div class="valor-actual">0</div>
        </div>
    </div>
    <div class="containerbtn">
        <div class="botones">


            <div class="botones-fx">
                <button class="ColorGris btn" id="AC">AC</button>
                <button class="ColorGris btn">(</button>
                <button class="ColorGris btn">)</button>
                <button class="ColorNaranja btn">/</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2 btn">7</button>
                <button class="ColorGris2 btn">8</button>
                <button class="ColorGris2 btn">9</button>
                <button class="ColorNaranja btn" id="X">*</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2 btn">4</button>
                <button class="ColorGris2 btn">5</button>
                <button class="ColorGris2 btn">6</button>
                <button class="ColorNaranja btn">-</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris2 btn">1</button>
                <button class="ColorGris2 btn">2</button>
                <button class="ColorGris2 btn">3</button>
                <button class="ColorNaranja btn">+</button>
            </div>
            
            <div class="botones-num">
                <button class="ColorGris2 btn">0</button>
                <button class="ColorGris2 btn">.</button>
                <button class="ColorNaranja btn" id="Hist">H</button>
                <button class="ColorNaranja btn" id="igual">=</button>
            </div>

        </div>
        <div class="nya"><div class="historialuso" id="historialuso" style="color: #fff;"></div></div>
    </div>
</div>

<script>

    const pantalla = document.querySelector(".valor-actual");
    const botones = document.querySelectorAll(".btn");

    botones.forEach(boton => {
    boton.addEventListener("click", () => {
        const botonApretado = boton.textContent;
        
        if (boton.id === "Hist"){
            pantalla.textContent = pantalla.textContent.slice(0, -1);
            pantalla.textContent = "0";
            return;
        }

        if (boton.id === "AC") {
            pantalla.textContent = "0";
            return;
        }

        if (boton.id === "igual") {
            try {
                pantalla.textContent = eval(pantalla.textContent);
            } catch {
                pantalla.textContent = "Error!";
            }
            return;
        }

        if (pantalla.textContent === "0" || pantalla.textContent === "Error!") {
            pantalla.textContent = botonApretado;
        } else {
            pantalla.textContent += botonApretado;
        }
    })
})

</script>

