<style>
    * {
        background-color: black;
    }

    @font-face {
        font-family: 'Roboto', sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

    }

    .botones {
        display: grid;
        place-self: center;
    }

    input {
        width: 50vw;
        border: 0;
        background-color: black;
        color: white;
        font-size: 15vh;
        text-align: end;
    }

    div {
        display: flex;
        place-self: center;
    }

    button {
        width: 15vh;
        height: 15vh;
        border-radius: 100px;
        font-size: 3.5em;
        margin: 2px;
    }

    .cero {
        width: 30vh;
        border-radius: 50vh;
        text-align: left;
        padding-left: 35px;
        padding-right: 100px;

    }

    .pantalla {
        background-color: black;
    }

    .pantalla-calculadora {
        background-color: white;
    }

    .calculadora {
        font-family: 'Open 24 Display St';
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .pantalla {
        text-align: end;
        width: 30%;
        overflow: hidden;
        place-items: center;
        place-self: center;
    }

    .ColorGris {
        background-color: rgb(59, 59, 59);
        color: white;
    }

    .ColorNaranja {
        background-color: orange;

        color: white;

    }

    .ColorG {
        background-color: rgb(194, 194, 194);
        color: black;
    }

    #C {
        display: none;
    }

    .input {
        width: 100%;
    }
</style>


<div class="calculadora">
    <div class="pantalla">
        <input type="text" class="input" id="display" disabled value="0">


    </div>
    <div class="containerbtn">
        <div class="botones">


            <div class="botones-fx">
                <button class="ColorG" id="AC" onclick="clearDisplay(); Remplazo()">AC</button>
                <button class="ColorG" id="Parent" onclick="addParentIzq();Remplazo()">(</button>
                <button class="ColorG" id="Parent" onclick="addParentDer();Remplazo()">)</button>
                <button class="ColorNaranja" onclick="addToDisplay('/')">/</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris" onclick="addToDisplay('7');Remplazo()">7</button>
                <button class="ColorGris" onclick="addToDisplay('8');Remplazo()">8</button>
                <button class="ColorGris" onclick="addToDisplay('9');Remplazo()">9</button>
                <button class="ColorNaranja" onclick="addToDisplay('*');Remplazo()">x</button>
            </div>

            <div class="botones-num">
                <button class="ColorGris" onclick="addToDisplay('4'); Remplazo()">4</button>
                <button class="ColorGris" onclick="addToDisplay('5');Remplazo()">5</button>
                <button class="ColorGris" onclick="addToDisplay('6');Remplazo()">6</button>
                <button class="ColorNaranja" onclick="addToDisplay('-');Remplazo()">-</button>
            </div>
            <div class="botones-num">
                <button class="ColorGris" onclick="addToDisplay('1');Remplazo()">1</button>
                <button class="ColorGris" onclick="addToDisplay('2');Remplazo()">2</button>
                <button class="ColorGris" onclick="addToDisplay('3');Remplazo()">3</button>
                <button class="ColorNaranja" onclick="addToDisplay('+');Remplazo()">+</button>
            </div>
            <div class="botones-num">
                <button class="ColorGris cero" onclick="addToDisplay('0');Remplazo()">0</button>
                <button class="ColorGris punto" onclick="addToDisplay('.');Remplazo()">.</button>
                <button class="ColorNaranja" class="igual" onclick="calculate()">=</button>
            </div>
            
        </div>
    </div>
</div>

<script>

    function Remplazo() {
        const AA = document.getElementById("display");
        var contenedor = document.getElementById("AC");
        if (AA.value === "0") {
                contenedor.textContent = "AC";

            } else {
                contenedor.textContent = "C";

            }
    };

    function addParentIzq() {
        const Parent = "(";
        const AA = document.getElementById("display");
        if (AA.value === "0" && AA !== ".") {
            display.value = Parent;
        } else {
            display.value += Parent;
        }
    }

    function addParentDer() {
        const Parent = ")";
        display.value += Parent;

    }

    function addToDisplay(value) {
        const display = document.getElementById("display");
        if (display.value === "0" && value !== ".") {
            display.value = value;
        } else {
            display.value += value;
        }
    }

    function DelDisplay() {
        const display = document.getElementById("display");
        alert("A");

    }

    function calculate() {
        const Hist = document.getElementById("display").value;
        alert(Hist);
        try {
            let expression = document.getElementById("display").value;
            let result = eval(expression);
            document.getElementById("display").value = result;
        } catch (error) {
            document.getElementById("display").value = "Error";
        }
    }

    function clearDisplay() {
        document.getElementById("display").value = "0";
    }
</script>