/* @font-face {
    font-family: "Open 24 Display St";
    src: url('./../assets/font/Open-24-Display-St.ttf');
}

.botones {
    display: block;
    width: 100vw;
    padding-left: 38vw;
}

input {
    width: 50vw;
    border: 0;
    background-color: black;
    color: white;
    font-size: 15vh;
    text-align: end;
}

div {
    display: flex;
}

button {
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
    font-size: 3.5em;
    margin: 0.3%;
}

.cero {
    width: 30vh;
    border-radius: 50vh;
    text-align: left;
    padding-left: 35px;
    padding-right: 100px;

}

.pantalla {
    background-color: black;
}

.pantalla-calculadora {
    background-color: black;
}

.calculadora {
    font-family: 'Open 24 Display St';
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.pantalla {
    text-align: end;
    width: 45vh;
    overflow: hidden;
    margin-left: 38vw;
}

.pantalla-botones {
    display: flex;

}

.ColorGris {
    background-color: rgb(195, 187, 187);
}

.ColorNaranja {
    background-color: orange;
} */