<!DOCTYPE html>
<html>

<head>
  <title>TP N2 - Calculadora</title>
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <!-- <h1>Mi Aplicación</h1> -->
  <div style="margin: auto;">
    <!-- Aquí se insertará el contenido específico para cada vista -->
    <%- include(`${content}`) %>
  </div>

</body>


</html>